<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwiftPrep</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.10/dist/css/splide.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	document.addEventListener( 'DOMContentLoaded', function () {
		new Splide( '#secondary-slider1', {
			fixedWidth  : 200,
			height      : 200,
			gap         : 10,
			perPage: 2,
			trimSpace: true,
			cover       : false,
			isNavigation: false,
			focus       : 'center',
			pagination: true,
			breakpoints : {
				'600': {
					fixedWidth: 66,<!--66,-->
					height    : 100,
				}
			},
		} ).mount();
		new Splide( '#secondary-slider2', {
			fixedWidth  : 200,
			height      : 200,
			gap         : 10,
			perPage: 2,
			trimSpace: true,
			cover       : false,
			isNavigation: false,
			focus       : 'center',
			pagination: true,
			breakpoints : {
				'600': {
					fixedWidth: 66,
					height    : 100,
				}
			},
		} ).mount();
		new Splide( '#secondary-slider3', {
			fixedWidth  : 200,
			height      : 200,
			gap         : 10,
			perPage: 2,
			trimSpace: true,
			cover       : false,
			isNavigation: false,
			focus       : 'center',
			pagination: true,
			breakpoints : {
				'600': {
					fixedWidth: 66,
					height    : 100,
				}
			},
		} ).mount();
	} );
	</script>
	<style>
	img:hover {
	opacity: 0.3;
	}
	.overlay {
	  transition: .3s ease;
	  <!--background-color: red;-->
	}
	img {
	  border-radius: 30px;
	}
	</style>
	
</head>
<body>
	<!-- for the header -->
    <div style="width: 75%; margin-left: auto; margin-right: auto;">
    <nav class="navbar">
        <a class="navbar-brand">SwiftPrep</a>
            <% if(!currentUser){ %>
              <a class="nav-link" href="/google">Login</a>
            <% } else { %>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= currentUser.username %>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button">Profile</button>
                      <div class="dropdown-divider"></div>
                      <a href="/logout" class=" dropdown-item btn btn-primary">Logout</a>
                    </div>
                  </div>
            <% } %>
      </nav>
    </div>
	
<!-- for the slider -->
<div>
<h1>Subject 1</h1>
<div id="secondary-slider1" class="splide">
	<div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
			<div class="container"> 
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t02.jpg" alt="videos" class="image">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t04.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t06.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t07.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t08.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
		    <li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t09.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t03.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t04.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t03.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t01.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
		</ul>
	</div>
</div>
</div>
<div>
<h1>Subject 2</h1>
<div id="secondary-slider2" class="splide">
	<div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
			<div class="container"> 
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t02.jpg" alt="videos" class="image">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t04.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t06.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t07.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t08.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
		    <li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t09.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t03.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t04.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t03.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t01.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
		</ul>
	</div>
</div>
</div>
<div>
<h1>Subject 3</h1>
<div id="secondary-slider3" class="splide">
	<div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
			<div class="container"> 
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t02.jpg" alt="videos" class="image">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t04.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t06.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t07.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t08.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
		    <li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t09.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t03.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t04.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t03.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
			<li class="splide__slide">
				<div class="container">
				<div class="overlay">
				<a href="#" class="icon" title="swiftprep">
				<img src="https://splidejs.com/wp-content/uploads/2019/08/t01.jpg">
				<span class="glyphicon glyphicon-play"></span>
				</a>
				</div>
			</div>
			</li>
		</ul>
	</div>
</div>
</div>

<!-- code for the footer-->
<footer id="footer" class="page-footer font-small stylish-color-dark pt-4">
  
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Start your prep!</h5>
      </li>
      <li class="list-inline-item">
        <a href="/google" class="btn btn-primary btn-rounded">Sign up!</a>
      </li>
    </ul>
  
    <hr>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-instagram"> </i>
        </a>
      </li>
    </ul>
  
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://swiftprep.in/"> SwiftPrep</a>
    </div>
  
  </footer>
  <script src="https://kit.fontawesome.com/ad5993d18e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.10/dist/js/splide.min.js"></script>
</body>
</html>